.env
__pycache__*
venv*
autogen.*
.env.*
report_*
local_overrides.py
windows_*
test.md
temp_*
report*.md
report*.txt
email_body.md
email_attachment.md
email_*.html
*.log
*.db
*.ndjson
*.ndjson.gz
.DS_*
.ant/
.ait/
/syslog-*
known_knowns.toml
